html{
    background-color: antiquewhite;
}

.banner{
    background: url("./Resources/Images/banner.jpg") center center no-repeat;
    background-size: cover;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pagetitle {
    color: brown;
    vertical-align: middle;
    background-color: white;
    padding: 10px 10px;
    border-radius: 15px;
    font-size: 3vmax;
}

table {
    border: 2px solid rgb(192, 14, 14);
    margin: 30px auto;
    max-width: 650px;
    counter-reset: tags-counter;
}

td, th{
    padding: 5px 10px;
    border: 1px solid rgb(107, 107, 107);
}

caption {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.5rem;
}

.code {
    font-family: monospace;
    background-color: aqua;
    transition: 300ms;
}

.code:hover {
    background-color: yellow;
    transition: 300ms;
    font-weight: bolder;
    color: red;
}

.code[data-tool-tip] {
    position: relative;
}

.code[data-tool-tip]::after {
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    background-color: gray;
    color: chartreuse;
    padding: 1em 3em;
    border-radius: 5px;
    font-size: 0.8em;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    transform: scale(0);
    transition: 
        transform ease-out 150ms,
        bottom ease-out 150ms;
}

.code[data-tool-tip]:hover::after{
    transform: scale(1);
    bottom: 100%;
}

.code[number]{
    position: relative;
}

.code[number]::before {
    counter-increment: tags-counter;
    content: counter(tags-counter);
    position: absolute;
    left: -4em;
    top: -0.5em;
    background-color: hotpink;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid gray;
    box-sizing: border-box;

}
/* .code::before{
    content: url(//unsplash.it/400/400);
    display: block;
} */

/* .code:hover::before {
    content: "";
    height: 20px;
    width: 20px;
    border: 1px;
    border-radius: 3px;
    border-color: grey;
    background-color: orange;
    display:inline-block;
    position:static;
    top:0px;
    left:0px;
} */

ul {
    list-style-type: circle;
    padding-left: 30px;
}